
:root {
    --black: #121212;
    --dark-blue: #19202D;
    --white: #FFFFFF;
    --grey-100: #E7EAEE;
    --grey-200: #CFCFCF;
    --grey-400: #676D7E;
    --grey-500: #48556A;
    --purple-50: #EDE4FF;
    --purple-300: #A775F1;
    --purple-500: #733FC8;
}



*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    
    background: repeating-linear-gradient(
        to right, 
        rgba(245, 245, 245, 0.2),
        rgba(245, 245, 245, 0.2) 40px, 
        rgba(230, 230, 230, 0.2) 40px,
        rgba(230, 230, 230, 0.2) 120px
    ); 
}

main {
    max-width: 750px;
    height: 100%;
    margin: 0 auto;
}


.hero {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h3 {
    margin: 0;
}

.hero p {
    margin-top: 0.3rem;
    margin-bottom: 0;
}

.card {
    border-radius: 10px;
    color: whitesmoke;
    padding: 2rem;
    opacity: 0.9;
    
    
}

#card-one {
    background-color: var(--purple-500);
    grid-area: one;
}

#card-two {
    background-color: var(--grey-500);
    grid-area: two;
}

#card-three {
    background-color: whitesmoke;
    color: var(--black);
    grid-area: three;
}

#card-four {
    background-color: var(--dark-blue);
    grid-area: four;
}

#card-five {
    background-color: whitesmoke;
    color: var(--black);
    grid-area: five;
}


footer {
    margin-top: auto;
}

/* Images */


.profile-img {
    border-radius: 50px;
}

#daniel-img, #patrick-img {
    border: 5px solid var(--purple-300);
}

@media (max-width: 767px) {
    .card {
        margin: 2rem;
    }
}

@media (min-width: 767px) {
    main {
        display: grid;
        grid-gap:1rem;
        grid-template-areas: 
        "one one"
        "two three"
        "four four"
        "five five";
    }

    .card {
        max-height: 300px;
    }

   
}

@media (min-width: 1440px) {
    main {
       
        max-width: initial;
        
        grid-template-areas: 
        "one    one  two  five"
        "three  four four five";
    }

    .card {
        max-height: initial;
    }
}